@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.select, .textarea {
  @apply border-neutral-300 focus-within:border-neutral-300 focus:border-neutral-500;
}

input[type=file] {
  @apply file:variant-soft-primary !important;
}